GOOGLE_API_KEY=
DB_PATH=databases
WEBHOOK_TOKEN=
ASSISTANT_MODE=
EVOLUTION_SEND_MESSAGE_ENDPOINT=
EVOLUTION_API_TOKEN=
EVOLUTION_INSTANCE_NAME=
EVOLUTION_TARGET_NUMBER=
EVOLUTION_PROCESSED_RETENTION_DAYS=
